#imal{width: 50%;
}
#imal{margin-left: 25%;
}
#imal{border-color: yellow;
      border-width: 5px;
      border-style: double;
    }
    .parte01 {background-color: blue;
    }
    .parte02 {background-color: darksalmon;
    }